<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] - %d - [%5p] - %l - %m\n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
        </filter>
    </appender>

    <appender name="allAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="MaxFileSize" value="3MB"/>
        <param name="Append" value="true"/>
        <param name="file" value="/export/Logs/scheduler.jd.id/scheduler-client-all.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] - %d - [%5p] - %l - %m\n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
        </filter>
    </appender>

    <appender name="errorAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ERROR"/>
        <param name="file" value="/export/Logs/scheduler.jd.id/scheduler-client-error.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] - %d - [%5p] - %l - %m\n"/>
        </layout>
    </appender>

    <appender name="zkAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="MaxFileSize" value="3MB"/>
        <param name="Append" value="true"/>
        <param name="file" value="/export/Logs/scheduler.jd.id/scheduler-client-zk.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] - %d - [%5p] - %l - %m\n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
        </filter>
    </appender>

    <logger name="org.apache.zookeeper" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="zkAppender"/>
    </logger>

    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="allAppender"/>
        <appender-ref ref="errorAppender"/>
    </root>
</log4j:configuration>