<!-- DataTables -->
<link rel="stylesheet" href="/static/css/dataTables.bootstrap.css">

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Task
        <small>Scheduled Tasks</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Job</a></li>
        <li><a href="/job/history">Schedule history</a></li>
        <li class="active">Scheduled tasks</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Scheduled Tasks</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="scheduled_tasks_table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="scheduled_tasks_table" class="table table-bordered table-hover dataTable"
                                       role="grid"
                                       aria-describedby="scheduled_tasks_table_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="scheduled_tasks_table"
                                            rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="#: activate to sort column descending">#
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="scheduled_tasks_table"
                                            rowspan="1"
                                            colspan="1" aria-label="Job schedule id: activate to sort column ascending">
                                            Job schedule id
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="scheduled_tasks_table"
                                            rowspan="1"
                                            colspan="1" aria-label="Client IP: activate to sort column ascending">
                                            Client IP
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="scheduled_tasks_table"
                                            rowspan="1"
                                            colspan="1" aria-label="Total tasks: activate to sort column ascending">
                                            Data
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="scheduled_tasks_table"
                                            rowspan="1"
                                            colspan="1"
                                            aria-label="Status: activate to sort column ascending">Status
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="scheduled_tasks_table"
                                            rowspan="1"
                                            colspan="1" aria-label="Error Message: activate to sort column ascending">
                                            Error Message
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="scheduled_tasks_table"
                                            rowspan="1"
                                            colspan="1" aria-label="Create time: activate to sort column ascending">
                                            Create time
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="scheduled_tasks_table"
                                            rowspan="1"
                                            colspan="1" aria-label="Start time: activate to sort column ascending">
                                            Start time
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="scheduled_tasks_table"
                                            rowspan="1"
                                            colspan="1" aria-label="End time: activate to sort column ascending">
                                            End time
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</section>

<!-- DataTables -->
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/static/js/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/static/js/fastclick.min.js"></script>

<script>
    var jobScheduleId = $!{jobScheduleId};
    $(function () {
        $('#scheduled_tasks_table').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "/task/scheduled?jobScheduleId=" + jobScheduleId,
            "columnDefs": [
                {
                    "defaultContent": "",
                    "targets": "_all"
                }
            ],
            "columns": [
                {"data": "id"},
                {"data": "jobScheduleId"},
                {"data": "clientIp"},
                {"data": "data"},
                {"data": "status"},
                {"data": "errorMessage"},
                {"data": "createTime"},
                {"data": "startTime"},
                {"data": "endTime"}
            ]
        });
    });
</script>